@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  margin: 0;
  text-align: center;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  color: #0060b6;
  text-decoration: none;
}

a:hover {
  color: #00a0c6;
  text-decoration: none;
  cursor: pointer;
}
.g-card {
  margin: 10px;
  overflow-wrap: break-word;
  width: 300px;
  height: 480px;
  border-radius: 10px;
  margin-top: 10px;
  padding: auto;
}
.g-card:hover {
  transform: translateY(-4px);
  /* box-shadow: 0px 0px 4px 2px #ccc; */
  border-radius: 10px;
  cursor: pointer;
}
.g-card-image {
  border-radius: 10px;
  width: 300px;
  height: auto;
  box-shadow: 0px 0px 3px 1px #ccc;
}
.g-card-title {
  font-size: 26px;
  margin: 10px;
}
.g-card-info {
  margin-top: auto;
  margin-bottom: auto;
  min-height: 100px;
}
.g-card-sub-title {
  font-size: 22px;
  margin: 0px;
}
.g-card:hover {
  transform: translateY(-4px);
  /* box-shadow: 0px 0px 4px 2px #ccc; */
  border-radius: 10px;
  cursor: pointer;
}
.socials {
  size: 100vh;
  margin: auto;
}

.name-header{
  background: linear-gradient(
    to right,
    indigo,
    rgb(130, 191, 231),
    rgb(75, 17, 233)
  );
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 1);
  display: block;
  transition: color 0.2s ease-in-out;
  /* text-transform: uppercase; */
}
.name-header:hover {
  color: rgba(0, 0, 0, 0);
  cursor: auto;
}
.projects-header {
  background: linear-gradient(
    to right,
    springgreen,
    teal,
    lightblue
  );
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 1);
  display: block;
  transition: color 0.2s ease-in-out;
  /* text-transform: uppercase; */
}
.projects-header:hover {
  color: rgba(0, 0, 0, 0);
  cursor: auto;
}
@keyframes rainbow {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.profile-pic {
  height: 50vh;
}
.bio-wrapper {
  margin: 1vh 22vh;
  font-size: 32px;;
}
.tech-wrapper{
  margin: 1vh 22vh;
  font-size: 25px;
}
.skill-card{
  overflow-wrap: break-word;
  width: 270px;
  height: auto;
  border-radius: 10px;
  /* padding: auto; */
  /* box-shadow: 0px 0px 3px 1px #ccc; */
  margin:0.25vh;
}
.skill-card-image {
  border-radius: 10px;
  width:150px;
  height:150px;
}
.skill-card-title {
  font-size: 26px;
  /* margin: 10px; */
  font-family: fantasy;
  
}

.skill-card:hover{
  transform: translateX(-3px) translateY(-3px);
  box-shadow: 0px 0px 7px 1px rgba(130, 145, 177, 0.575);
  /* border-radius: 500px; */
}
.circular-progress{
  height:130px;
  margin-bottom: 6px;
}
.skillset-wrapper{
  /* width:90vw; */
  justify-content: center;
  align-self: center;
}




.arrow{
  position: relative;
  /* top: 50%;
  left: 50%; */
  transform: translate(-50%,-50%);
}
.arrow span{
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #06A8FF;
  border-right: 5px solid #06A8FF;
  transform: rotate(45deg);
  margin: 10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2){
  animation-delay: -0.2s;
}
.arrow span:nth-child(3){
  animation-delay: -0.4s;
}
@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}

.form-wrapper{
  width:40vw;
  margin : auto;
}

.success-msg{
  color:#57A773;
  padding:10px 15px;
}
.err-msg{
  color:#EE6351;
  padding:10px 15px;
}

.input-text{
    width: 25vw !important;
    margin:auto;
}

.form-info{
  font-size:38px;
  font-weight: lighter;
  margin-top:10px;
}
.contact-header{
  font-size: 60px;
  font-weight: 700;
}

@media only screen and (max-width:600px) {
  .bio-wrapper {
    margin: 1vh 6vh;
  }
  .tech-wrapper{
    margin: 1vh 6vh;
  
  }
  .form-wrapper{
    width:80vw;
    margin : auto;
  }
  
  .input-text{
    width: 300px !important;
    margin:auto;

}
.contact-header{
  font-size: 40px;
}
}